.AjustaT a{
    height: 58px !important;
}
.AjustaLogo{
    height:57px !important; width: 120px;
}

.centralizar{
    margin-top: 80px !important;
    width: 60%;
    margin: 0 auto;
    height: 500px;
}

.FixImg{
    height: 500px !important;
    width: 100% !important;
}


